<!--  <upload-selector *ngIf="!(fus.file$|async)"></upload-selector>
<image-editor *ngIf="fus.file$|async"></image-editor>
 <camera *ngIf="!(fus.file$|async)"></camera> -->



<!-- <h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-content class="mat-typography">
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs>

        <mat-tab *ngFor="let tab of tabs; let i=index" >
            <ng-template mat-tab-label mat-tab-label-active >
                <span fxLayout="column" fxLayoutAlign="center center" (click)="loadTabContent(i)">
                    <mat-icon>{{tab.data.icon}}</mat-icon>
                    <span>{{ tab.data.label | translate }}</span>
                </span>
            </ng-template>
             <ng-container *ngTemplateOutlet="insert"></ng-container>
  
        </mat-tab>
        <ng-template   #insert adHost></ng-template>
    </mat-tab-group>


</mat-dialog-content> -->

<h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-content class="mat-typography">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" animationDuration="0ms">
        <a *ngFor="let tab of tabs; let i=index" 
            mat-tab-link
            (click)=" activeLink = tab;loadTabContent(i)"
            [active]="activeLink == tab"> 
    
            <span fxLayout="column" fxLayoutAlign="center center" >
                <mat-icon>{{tab.data.icon}}</mat-icon>
                <span>{{ tab.data.label | translate }}</span>
            </span>
        </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <ng-template #insert adHost></ng-template>
    </mat-tab-nav-panel>

</mat-dialog-content>

<!-- <h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-content class="mat-typography">
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label mat-tab-label-active>
                <span fxLayout="column" fxLayoutAlign="center center" (click)="loadTabContent(0)">
                    <mat-icon class="example-tab-icon">laptop</mat-icon>
                    <span>{{ 'upload.dialog.pc' | translate }}</span>
                </span>
            </ng-template>
            <ng-template #insert adHost></ng-template>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span fxLayout="column" fxLayoutAlign="center center" (click)="loadTabContent(1)">
                    <mat-icon class="example-tab-icon">language</mat-icon>
                    <span>URL</span>
                </span>
            </ng-template>
            <ng-template #insert adHost></ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span fxLayout="column" fxLayoutAlign="center center" (click)="loadTabContent(2)">
                    <mat-icon class="example-tab-icon">linked_camera</mat-icon>
                    <span>{{ 'upload.dialog.camera' | translate }}</span>
                </span>
            </ng-template>

            

        </mat-tab>
    </mat-tab-group>


</mat-dialog-content>  -->