<h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-content class="mat-typography">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" animationDuration="0ms">
        <a *ngFor="let tab of tabs; let i=index" 
            mat-tab-link
            (click)=" activeLink = tab;loadTabContent(i)"
            [active]="activeLink == tab"> 
    
            <span fxLayout="column" fxLayoutAlign="center center" >
                <mat-icon>{{tab.data.icon}}</mat-icon>
                <span>{{ tab.data.label | translate }}</span>
            </span>
        </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
        <ng-template #insert adHost></ng-template>
    </mat-tab-nav-panel>

</mat-dialog-content>