<!-- <button mat-stroked-button matTooltip="{{ 'tooltips.language' | translate }}" [matTooltipClass]="'tooltip'"
    [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    <span>{{ 'navbar.language' | translate }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
</button>


<mat-menu #languageMenu="matMenu" xPosition="before" class="mat-menu-language">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
        {{ language }}
    </button>
</mat-menu> -->



<button mat-stroked-button [matMenuTriggerFor]="langMenu">
    <mat-icon>language</mat-icon>
    <span>{{ 'navbar.language' | translate }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #langMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
            <img class="flag flag-{{ language.split('-')[1].toLocaleLowerCase() }}" />
            {{ language.split("-")[1] == "ES" ? "Español" : "English" }}
        </button>
    </ng-template>
</mat-menu>